@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <select asp-for="Input.LoginType" class="form-select" id="asd" aria-required="true">
                    <option selected>(Åbn dropdown menu)</option>
                    <option value="Medarbejder">Medarbejder</option>
                    <option value="Kunde">Kunde</option>
                </select>
                <label asp-for="Input.LoginType"></label>
                <span asp-validation-for="Input.LoginType" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" aria-required="true" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNr" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNr"></label>
                <span asp-validation-for="Input.PhoneNr" class="text-danger"></span>
            </div>
            @{
                if(true) 
                {
                    <div class="form-floating">
                        <select asp-for="Input.ProcessRole" class="form-select" id="floatingSelect" aria-required="true">
                            <option selected>(Åbn dropdown menu)</option>
                            <option value="Sælger">Sælger</option>
                            <option value="Teknikker">Teknikker</option>
                            <option value="Konverter">Konverter</option>
                            <option value="Konsulent">Konsulent</option>
                        </select>
                        <label asp-for="Input.ProcessRole"></label>
                        <span asp-validation-for="Input.ProcessRole" class="text-danger"></span>
                    </div>
                }
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    @*
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
